.nav {
  align-items: center;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 60px;
}

.list {
  display: flex;
  list-style: none;
}

.list > li {
  margin-left: 20px;
}

.list a {
  color: inherit;
  text-decoration: none;
}
.list a:hover {
  text-decoration: underline;
}

.button {
  background: none;
  border: none;
  cursor: pointer;
  margin-left: 20px;
  outline: none;
}
